:root { 
    color-scheme: light dark;
    --light-btn: #CC5B72;
    --light-color: #F7D9E3;
    --dark-btn: #121212;
    --dark-color: #CC5B72;
    
    --light-text:black;


    --dark-bg: #121212;
    --dark-card: #282828;
    --dark-text: white;
    --dark-details: #cc5c72;
    --dark-hover: #1a1a1a;
   
}

:root:has(#themeSwitch) {
     color-scheme: dark;   
     & .form-check-input:checked {
    background-color: var(--light-btn);
    border-color: var(--light-btn);
    
     
    } 
    & .bi-moon-fill{
        content: "\f5a1";
    }
}

:root:has(#themeSwitch:checked) {
     color-scheme: light;    
     & .form-check-input:checked {
    background-color: var(--light-btn);
    border-color: var(--light-btn);
    } 
}