@import url(/css/colors.css);
@media (max-width: 990px) {


.navbar-toggler  {
 position: absolute;
 top: 0.2rem;
 right: 4vw;
 
}

.navbar-collapse {
    position: absolute;
    top: 2.8rem;
     right: -2rem;
     direction: rtl;
}

.nav-link {
   font-size: 15px;
   
}

.dropdown-item {
    font-size: 15px;
    background-color: var(--details);
    z-index: 4;
    
}



}
.nav-item .nav-link {
    color: var(--card); 
   
   
}
.dropdown-item {
    background-color: transparent;
    color: var(--text);
    border: none;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
    
    
}

.dropdown-item:hover {
    color: var(--details);
}


.dropdown-toggle {
    font-weight: bold;
    text-align: center;
    
}


.nav-item:hover {
    padding-right: 5px; 
    
    transition: 0.3s;
    border-radius: 5px;
}

.navbar { 
    background-color: var(--card) ;
}
.nav-link, .navbar-nav .dropdown-toggle, .show{ 
    color: var(--details) !important;
}

.dropdown-menu, .form-select, .form-select-sm  {
    background-color: var(--card) !important;
    color: var(--text);
}

#cerrar { 
    color: var(--details);
}

.bi  {
      width: 1.2rem;
      height: 1.2rem;
}