:root {
  --color-primario: rgb(255, 185, 185) !important;
  --color-fondo: rgb(255, 221, 210) !important;
  --color-contraste: rgb(246, 246, 246) !important;
  --color-boton: rgb(255, 141, 199) !important;
}

body {
  background-image: url(/img/1Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}
.login-card {
  background-color: var(--color-contraste);
  border-radius: 15px;
}

.btn-rosa {
  background-color: #e75480;
  color: white;
  border: none;
}

.btn-rosa:hover {
  background-color: hsl(339, 67%, 52%);
  color: white;
}

#logojap {
  max-width: 50vw;
  top: 2vh;
  left: 2vw;
  filter: drop-shadow(1px 1px 1px);
}

#eMercado {
  max-width: 40vw;
  top: 2vh;
  right: 2vw;
  filter: drop-shadow(1px 1px 1px);
}
#jap-emercado {
  display: none;
}

.card { 
  width: 24rem;


  }

@media (max-width: 600px) {
  #logojap,
  #eMercado {
    display: none;
    
  }
  #jap-emercado {
    visibility: visible;
    width: 90vw;
    filter: brightness(0) invert(1) grayscale(1) contrast(100)
      drop-shadow(2px 2px 2px);
        display: block;
  margin-left: auto;
  margin-right: auto;
  
  }
  #imagenes {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }

  .card { 
    width: 72vw;
  }

  
}
