 .card-custom {
       background-color: rgb(247 222 235 / 71%);
    display: flex;
    border-radius: 10px;
    box-shadow: 0 6px 6px 0 rgba(172, 57, 115, 0.567);
    }

    .carousel-inner {
        border-radius: 1rem;
        box-shadow: 0 4px 4px 0 rgba(161, 88, 125, 0.567);
        top: 1rem;
        left: 0.5rem;
    }

 .mb-5 {

     font-family: "Playfair Display", serif;
     font-optical-sizing: auto;
     font-weight: 300;
     font-style: normal;
     position: relative;
     left: 2rem;
     margin-top: -2rem;
 }

 .mt-3, .ms-3 {
     font-family: "Roboto", sans-serif;
     font-optical-sizing: auto;
     font-weight: 100;


 }

 .mt-3 {
   position: relative;
   margin-bottom: 1.9rem !important;
   
 }

 .cat {
    margin-top: -7.5rem;
    text-align: right;
 }

 .vendidos {
   position: relative;
   text-align: right;
   bottom: -29rem;
 }

 .precio-valor {
   font-size: 18px;
   position: relative;
   top: 3rem;
 }


