@import url(colors.css);

body { 
  height: 100vh;
}
@media (max-width: 767px) {
  body { 
  height: 100%; 
  }
}


#save {
 max-width: 8rem;
}

#amountInput { 
  max-width: 4rem;
}

.border-top { 
  border-color: var(--details) !important;
}

.title {
  color: var(--text);
   text-shadow: 2px 2px 2px var(--hover);
}

.desc{
  color: var(--text);
}

.text-muted {
  color: var(--text) !important;
  filter: opacity(50%) !important;

}

   
.inset-shadow { 
   position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.375rem;
  background-color: var(--btn);
  padding: 6px 12px;
  color: #f5f5f5;
  border: 1px solid var(--details);
  box-shadow:
    inset 0 1px var(--hover),
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.inset-shadow::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
}

.inset-shadow:hover {
  background-color: var(--hover);
}
.inset-shadow:active {
  background-color: #0a0a0a !important;
  box-shadow:
    inset 0 1px #262626,
    0 0 #0000 !important;
}
.inset-shadow:focus { 
   position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.375rem;
  background-color: var(--btn);
  padding: 6px 12px;
  color: #f5f5f5;
  border: 1px solid var(--details);
  box-shadow:
    inset 0 1px var(--hover),
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}


.card-custom {
    
    background-color:light-dark(var(--light-card),var(--dark-card));
    display: flex;
    border-radius: 10px;
    box-shadow: 0 6px 6px 0 rgba(172, 57, 115, 0.567);
    }

    .carousel-inner {
        border-radius: 1rem;
        box-shadow: 0 4px 4px 0 rgba(161, 88, 125, 0.567);
    }

 .deco, .des{

    
     
     font-weight: 300;
     font-style: normal;
     position: relative;
     text-shadow: 2px 2px 2px black;
   
     color:light-dark(var(--dark-text),var(--dark-details));
 }

 .mt-3, .ms-3 {
     font-family: Roboto;
     font-optical-sizing: auto;
     font-weight: 100;
     color:light-dark(var(--light-text),var(--dark-text));

 }

 .mt-3 {

   margin-bottom: 2.9rem !important;

 }

 .cat {
    font-family:'Times New Roman', Times, serif;
    font-size:18px;


 }

 .vendidos {
    font-family:'Times New Roman', Times, serif;
    font-size:22px;
    margin-right: auto;
    color:light-dark(var(--light-text),var(--dark-text));

 }

 .precio-valor {
   font-size: 30px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: var(--details);
  text-shadow: 2px 2px 2px var(--background);
 }

.carousel-indicators {
  bottom: -4rem;
}
.des{
    font-size:18px;
    
}


.card  {
  background-color: light-dark(var(--light-card),var(--dark-innercard));
  color: var(--text); 
  
  border-radius: 10px;
    box-shadow: 0 6px 6px 0 rgba(172, 57, 115, 0.567);
    display: flex;
    justify-content: center;

}

footer { 
  height: 0vh !important;
}

.text{
  display: inline-block;
}

.star { 
  -webkit-appearance: none; 
  -moz-appearance: none;    
        appearance: none;      
        display: none;
        height: 0;
        width: 0;
  cursor: none;

}

.bi { 
  cursor: pointer;
}

.checked { 
  color: var(--details);
}
.card-coment{
    background-color:light-dark(var(--light-card),var(--dark-card));
    box-shadow: 0 6px 6px 0 rgba(172, 57, 115, 0.567);
    }


    .hover-star { 
      color: var(--details);
    }

  .grow { 
      transition: transform 0.1s ease-in-out;
    }

 .grow:hover { 
  transform: scale(1.050);

 }


 .check {
  border: 0.2rem solid var(--hover);
  border-radius: 2px;
 }