@import url(colors.css);

body {
    background-color: light-dark(var(--light-bg),var(--dark-bg));
    color: light-dark(var(--dark-btn),var(--dark-color));
}



.list-group {
    background-color: light-dark(var(--light-btn),var(--dark-details));
 }


.list-group-item {
    background-color: light-dark(var(--light-color),var(--dark-card));
    color: light-dark(var(--light-btn),var(--dark-text));
 }

 .list-group-item:hover { 
            background-color:light-dark(var(--light-btn), var(--dark-hover));
            color: light-dark(var(--dark-btn), var(--dark-details));
    } 
    
    

.btn-link, a {
    color: var(--dark-details);
}
.btn-link:hover, a:hover {
     color: light-dar(var(--dark-text), var(--light-text));
}


h2 { 
    
    color:light-dark(var(--dark-text),var(--dark-details));
    text-shadow: 2px 2px 2px black;
}
