@import url(/css/colors.css);
@media (max-width: 990px) {


.navbar-toggler  {
 position: absolute;
 top: 0.2rem;
 right: 0.2rem;
 
}

.navbar-collapse {
    position: absolute;
    top: 2.8rem;
     right: -2rem;
     direction: rtl;
}

.nav-link {
   font-size: 15px;
   
}

.dropdown-item {
    font-size: 15px;
    background-color: rgb(235, 123, 192);
    z-index: 4;
    
}



}
.nav-item .nav-link {
    color: rgb(192, 27, 170); 
   
   
}
.dropdown-item {
    background-color: transparent;
    color: rgb(118, 36, 118);
    border: none;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
    
    
}

.dropdown-item:hover {
    color: #f004b5;
}


.dropdown-toggle {
    font-weight: bold;
    text-align: center;
    
}


.nav-item:hover {
    padding-right: 5px; 
    background-color: rgb(249, 235, 243); 
    transition: 0.3s;
    border-radius: 5px;
}

.navbar { 
    background-color: var(--card) ;
}
.nav-link, .navbar-nav .dropdown-toggle, .show{ 
    color: var(--light-details) !important;
}