@import url(/css/colors.css);

body {
    background-color: var(--background);
    color: var(--text);
    height: 100vh;

}



.list-group {
    background-color: var(--card) !important; 
 }


.list-group-item {
    background-color: var(--card);
    color: var(--text);
 }

 .list-group-item:hover { 
            background-color:var(--hover);
            color: var(--text);
    } 
    
    

.btn-link, a {
    color: var(--dark-details);
}
.btn-link:hover, a:hover {
     color: light-dark(var(--dark-text), var(--light-text));
}


h2 { 
    
    color:light-dark(var(--dark-text),var(--dark-details));
    text-shadow: 2px 2px 2px black;
}

.img-fixed {
  max-width: 100px;
  width: 100%;
  height: auto;
}
