@import url(/css/colors.css);

body {
  background-image: url(/img/1Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
 
  height: 100vh;

}
.login-card {
  /*background-color:var(--color-contraste);*/
   background-color:light-dark(var(--light-card),var(--dark-card));
  border-radius: 15px;
}

.btn-rosa {
  /*background-color: #e75480;*/
  background-color: var(--btn);
  color: var(--text);
  border: none;
}

.btn-rosa:hover {
  /*background-color: hsl(339, 67%, 52%);*/
  background-color: var(--hover);
  color: var(--color-contraste);
}

#logojap {
  max-width: 50vw;
  top: 2vh;
  left: 2vw;
  filter: var(--current-filter);
}

#eMercado {
  max-width: 40vw;
  top: 2vh;
  right: 2vw;
  filter: var(--current-filter);
  
}
#jap-emercado {
  display: none;
  
}

.card {
  width: 24rem;
}

@media (max-width: 600px) {
  #logojap,
  #eMercado {
    display: none;
  }
  #jap-emercado {
    visibility: visible;
    width: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #imagenes {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .card {
    width: 72vw;
   
    
  }

  
}

/* inicio cambios logos */

@media (max-width: 500px) {


  .emercado { 
   
   top: 8vh !important ;
   left: 2rem;
   right: 2rem;
   
  }

   .login_img {
      left: 7rem !important;
      right: 1.3rem !important;
    }



 .login-card{
 
  top: 5rem;
  align-items: center;
 }

  }

  @media (min-width: 499px) and (max-width: 650px) {

    .emercado {
        margin-right: -2.5rem !important;
    }

    .login_img {
      margin-left: -7rem !important;
    }


  }

/* Fin cambios logos */


img {
 
}

h3 {
  color: var(--text);
}

label {
  color: var(--text);
}

.login-card{
 
  align-items: center; /*agregue*/
 }