@import url(/css/colors.css);
@media (max-width: 990px) {
.bg-light {
    background-color: var(--card) !important;
}

.navbar-toggler  {
 position: absolute;
 top: 0.2rem;
 right: 4vw;
 
}

.navbar-collapse {
    position: absolute;
    top: 2.8rem;
     right: -2rem;
     direction: rtl;
}

.nav-link {
   font-size: 15px;
   
}

.dropdown-item {
    font-size: 15px;
    background-color: var(--details);
    z-index: 4;
    
}



}

.bg {
    background-color: var(--background);
    color: var(--text) !important;
}
.nav-item .nav-link {
    color: var(--card); 
   
   
}
.dropdown-item {
    background-color: transparent;
    color: var(--text);
    border: none;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
    
    
}

.dropdown-item:hover {
    color: var(--details);
}


.dropdown-toggle {
    font-weight: bold;
    text-align: center;
    
}


.nav-item:hover {
    padding-right: 5px; 
    
    transition: 0.3s;
    border-radius: 5px;
}

.navbar { 
    background-color: var(--card) ;
}
.nav-link, .navbar-nav .dropdown-toggle, .show{ 
    color: var(--details) !important;
}

.dropdown-menu, .form-select, .form-select-sm  {
    background-color: var(--card) !important;
    color: var(--text);
}

#cerrar { 
    color: var(--details);
}

.bi  {
      width: 1.2rem;
      height: 1.2rem;
}

.inset-shadow { 
   position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.375rem;
  background-color: var(--btn);
  padding: 6px 12px;
  color: #f5f5f5;
  border: 1px solid var(--details);
  box-shadow:
    inset 0 1px var(--hover),
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.inset-shadow::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
}

.inset-shadow:hover {
  background-color: var(--hover);
}
.inset-shadow:active {
  background-color: #0a0a0a !important;
  box-shadow:
    inset 0 1px #262626,
    0 0 #0000 !important;
}
.inset-shadow:focus { 
   position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.375rem;
  background-color: var(--btn);
  padding: 6px 12px;
  color: #f5f5f5;
  border: 1px solid var(--details);
  box-shadow:
    inset 0 1px var(--hover),
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.img {
        width:52px;
        height:50px;
}